  <footer>
    <p>Code By <span>Zhang Mingze</span> using</p>
  </footer>
</section>
<!-- 主体内容 end-->

<script src="/js/lib/jquery-1.10.2.min.js"></script>
<script src="/js/lib/materialize.min.js"></script>
<script src="/js/lib/laypage.js"></script>  
<script src="/js/home.js"></script>
</body>
</html>