<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %> | Sitewar-blog</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/materialize.min.css" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/lib/laypage.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body class="body-wrap">
<!-- 头部 start -->
<header class="navbar-fixed" style="z-index: 2000;">
  <nav class="cyan">
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo waves-effect waves-dark">Sitewar-blog</a>
      <div class="z-btn-wrap">
      <% if (user) { %>
        <img src="<%=user.head%>">
        <h6><%=user.name%></h6>
        <a href="/logout" class="waves-effect btn white light-blue-text text-accent-3 z-btn">退出</a>
      <% } else { %>
        <a href="/login#signin" class="waves-effect btn white light-blue-text text-accent-3 z-btn">登录</a>
        <a href="/login#signup" class="waves-effect btn white light-blue-text text-accent-3 z-btn">注册</a>
      <% } %>
      </div>
      <div class="z-search-wrap">
        <form action="/search" method="GET">
          <button type="submit" class="z-search-btn">
            <i class="icon-search"></i>
          </button>
          <input type="text" class="z-search" name="keyword" placeholder="搜索文章">
        </form>
      </div>
    </div>
  </nav>
</header>
<!-- 头部 end -->