<!-- 文章发表按钮 start -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="/post" class="btn-floating btn-large red waves-effect waves-light" title="发表文章">
    <i class="icon-pencil"></i>
  </a>
</div>
<!-- 文章发表按钮 end -->