<!-- 侧边栏 start-->
<aside class="z-sidenav">
  <ul>
    <li><a href="/" class="waves-effect waves-teal">
    <i class="icon-home icon-large"></i><span>首页</span></a></li>
    <li><a href="/home" class="waves-effect waves-teal <% if(title == "最新文章") { %>active<% } %>">
    <i class="icon-book icon-large"></i><span>最新文章</span></a></li>
    <li><a href="" class="waves-effect waves-teal">
    <i class="icon-tasks icon-large"></i><span>文章存档</span></a></li>
    <li><a href="" class="waves-effect waves-teal">
    <i class="icon-tags icon-large"></i><span>文章标签</span></a></li>
    <% if (user) { %>
      <li><a href="/u/<%= user.name %>" class="waves-effect waves-teal <% if(title == "我的文章") { %>active<% } %>">
      <i class="icon-tags icon-large"></i><span>我的文章</span></a></li>
    <% } %>
  </ul>
  <ul>
    <li><a href="https://github.com/" class="waves-effect waves-teal" target="_blank">
      <i class="icon-github icon-large"></i><span>GitHub</span></a>
    </li>
    <li><a href="http://www.cnblogs.com/" class="waves-effect waves-teal" target="_blank">
      <i class="icon-pencil icon-large"></i><span>博客园</span></a>
    </li>
    <li><a href="https://cnodejs.org/" class="waves-effect waves-teal" target="_blank">
      <i class="icon-star-half icon-large"></i><span>Node.JS中文社区</span></a>
    </li>
  </ul>
</aside>
<!-- 侧边栏 end-->